alembic==1.0.0
asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
fake-useragent==0.1.11
Faker==0.9.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
oauthlib==2.1.0
psycopg2-binary==2.7.5
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.3
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
SQLAlchemy==1.2.12
text-unidecode==1.2
urllib3==1.23
Werkzeug==0.14.1
